In [83]:
from pymongo import MongoClient
import pandas as pd
import json

In [70]:
client = MongoClient('mongodb://root:example@localhost:27017/')

In [71]:
mydb =client['shape-competitor-activity-radar']

In [72]:
mycol = mydb["job_descriptions"]

In [73]:
res = mycol.find({'location':{'$exists':False}},{'raw_information.location':True})

In [77]:
from pymongo import MongoClient
import pandas as pd
import json
import requests 
import xml.etree.ElementTree as ET
import urllib.parse

apikey="AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t"
client = MongoClient('mongodb://root:example@localhost:27017/')
mydb =client['shape-competitor-activity-radar']
mycol = mydb["job_descriptions"]

res = mycol.find({'location':{'$exists':False}},{'raw_information.location':True})
df = pd.DataFrame(list(
mycol.aggregate([
{'$match': {"raw_information.location":{'$exists':True},"location": {"$exists": False}}},
{'$project':{"raw_information.location":1}},
{'$unwind':"$raw_information.location"},
{'$project':{"location":"$raw_information.location","length": { "$strLenCP": "$raw_information.location" } }},
{'$match': { 'length': {'$gt':1} } },
{'$group': {
        '_id': {'location': "$location"},
        'uniqueIds': {'$addToSet': "$_id"},
        'count': {'$sum': 1}
        }
    },
    {'$match': { 
        'count': {"$gt": 1}
        }
    },
    {'$sort': {
        'count': -1
        }
    },
    {'$project':{"_id":1}},
])))



for index, row in df.iterrows():
    place = row[0]['location'].rstrip().lstrip().replace('/',',')
    URL = "https://dev.virtualearth.net/REST/v1/Locations/{}?o=xml&key={}".format(urllib.parse.quote(place),apikey)
    
    try:
        response = requests.get(url =URL)
        root = ET.fromstring(response.content)
        rs=root.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}ResourceSets')[0]
        point = rs.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Resources')[0].find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Point')
        Latitude=point.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Latitude').text
        Longitude=point.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Longitude').text
        df.loc[index,'Longitude']=Longitude
        df.loc[index,'Latitude']=Latitude
        df.loc[index,'_id']=row[0]['location'].rstrip().lstrip().replace('/',',')

    except:
        print(URL)
        print("error with " + place)

df2 = df.drop_duplicates(['Longitude','Latitude'])

In [87]:
df2.head(4)

                      _id            Longitude            Latitude
0      Sunnyvale, CA, USA  -122.03800201416016  37.371719360351563
1  Mountain View, CA, USA  -122.08159637451172  37.389671325683594
2  San Francisco, CA, USA  -122.41963958740234  37.777118682861328
3      San Bruno, CA, USA  -122.41413879394531  37.624919891357422

In [ ]:
import requests 
import xml.etree.ElementTree as ET

apikey="AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t"
import urllib.parse

for index, row in df.iterrows():
    place = row[0]['location'].rstrip().lstrip().replace('/',',')
    URL = "https://dev.virtualearth.net/REST/v1/Locations/{}?o=xml&key={}".format(urllib.parse.quote(place),apikey)
    
    try:
        response = requests.get(url =URL)
        root = ET.fromstring(response.content)
        rs=root.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}ResourceSets')[0]
        point = rs.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Resources')[0].find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Point')
        Latitude=point.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Latitude').text
        Longitude=point.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Longitude').text
        df.loc[index,'Longitude']=Longitude
        df.loc[index,'Latitude']=Latitude
        df.loc[index,'_id']=row[0]['location'].rstrip().lstrip().replace('/',',')

    except:
        print(URL)
        print("error with " + place)

df2 = df.drop_duplicates(['Longitude','Latitude'])

In [79]:
df2.head()

                      _id            Longitude            Latitude
0      Sunnyvale, CA, USA  -122.03800201416016  37.371719360351563
1  Mountain View, CA, USA  -122.08159637451172  37.389671325683594
2  San Francisco, CA, USA  -122.41963958740234  37.777118682861328
3      San Bruno, CA, USA  -122.41413879394531  37.624919891357422
4     Seattle, Washington  -122.32945251464844  47.603569030761719

In [86]:
records = json.loads(df2.T.to_json()).values()
mydb.locations.insert(records)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

['Sunnyvale, CA, USA',
 'Mountain View, CA, USA',
 'San Francisco, CA, USA',
 'San Bruno, CA, USA',
 'Seattle, Washington',
 'Palo Alto, CA, USA',
 'Frankfurt, Germany',
 'London, UK',
 'Munich, Germany',
 'Jakarta, Indonesia',
 'Toronto, ON, Canada',
 'Hong Kong',
 'Chicago, IL, USA',
 'Manchester, UK',
 'New York, NY, USA',
 'Seoul, South Korea',
 'Berlin, Germany',
 'Montreal, QC, Canada',
 'Hamburg, Germany',
 'Boulder, CO, USA',
 'Redmond, Washington, United States',
 'Milan, Metropolitan City of Milan, Italy',
 'Bangalore, Karnataka, India',
 'Taipei, Taiwan',
 'Mexico City, CDMX, Mexico',
 'Cambridge, MA, USA',
 'Perth WA, Australia',
 'Los Angeles, CA, USA',
 'Zürich, Switzerland',
 'Atlanta, GA, USA',
 'Pittsburgh, PA, USA',
 'Reston, VA, USA',
 'Walldorf,St. Leon-Rot, BW, DE',
 'Kirkland, WA, USA',
 'Herndon Area, VAWashington, DC | Greater Metro Area',
 'Washington, DC, USA',
 'Minneapolis, MN, USA',
 'Salt Lake City, UT, USA',
 'Virtual Locations, Virtual Location',
 'Tokyo, Japan',
 'Austin, TX, USA',
 'New York Area, NY',
 'Bellevue, Washington, United States',
 'Dublin, Ireland',
 'Vienna, Austria',
 'Hyderabad, India',
 'Paris, France',
 'Vancouver, Canada',
 'Luxembourg City, Luxembourg',
 'Seattle, WashingtonBellevue, Washington',
 'Beijing, China',
 'Boston,Cambridge Area, MA',
 'Munich, GermanyGermany, Europe',
 'Southern California Region, CaliforniaSanta Monica, California',
 'Singapore',
 'Singapore, Singapore',
 'Shanghai, 31, CN',
 'Shanghai, China',
 'US, CA, East Palo Alto',
 'Mumbai, Maharashtra, India',
 'Madrid, Spain',
 'Shenzhen, Guangdong, China',
 'Sydney, Australia',
 'Henderson, NV, USA',
 'Portland, OR, USA',
 'Dublin, IrelandIreland, Europe',
 'Chennai, India',
 'Herzliya, Tel Aviv, Israel',
 'Phoenix Area, AZ',
 'Newtown Square, PA, US',
 'Nashville, TN',
 'Dallas,Fort Worth Area, TX',
 'Other, Other, United States',
 'Prague, PR, CZ',
 'Arlington Area, VA',
 'San Francisco Bay Area, CA',
 'São Paulo, State of São Paulo, Brazil',
 'Paris (Clichy), FranceFrance, Europe',
 'Indiana - Indianapolis',
 'Barcelona, Spain',
 'New York Area, NYNewark, New JerseyNew Jersey, United States',
 'Bratislava, Slovakia',
 'United Kingdom, Europe',
 'Reading, Berkshire, United Kingdom',
 'San Jose - Heredia, Costa Rica',
 'Beijing, 11, CN',
 'Redwood City, CA, USA',
 'Southern California Region, CaliforniaIrvine, CA',
 'San Francisco Bay Area, CACupertino, California',
 'Copenhagen, Denmark',
 'Bucharest, Bucharest, Romania',
 'Brussels, Belgium',
 'Wisconsin Dells, WI, USA',
 'Virtuell - Deutschland, BW, DE',
 'Xindian District, New Taipei City, Taiwan',
 'US Remote',
 'Manila, 00, PH',
 'Suzhou, Jiangsu, China',
 'St. Leon-Rot, BW, DE',
 'Gurugram, Haryana, India',
 'IN, HR, Gurgaon',
 'Edinburgh, ScotlandUnited Kingdom, Europe',
 'Milan, ItalyItaly, Europe',
 'Hermiston, OR area',
 'Tel Aviv-Yafo, Israel',
 'Tokyo, 13, JP',
 'Paris, 75, FR',
 'Southern California Region, CaliforniaSan Diego, California',
 'Singapore, 01, SG',
 'US, AZ, Tucson',
 'Texas - Dallas',
 'Southern California Region, California',
 'Mississauga, Ontario, Canada',
 'Cape Town, South Africa',
 'Vienna, 9, AT',
 'Issaquah, Washington, United States',
 'Barcelona, B, ES',
 'US, TX, Houston',
 'Potsdam, BB, DE',
 'Buenos Aires, B, AR',
 'South San Francisco, CA, US',
 'Baltimore, Maryland',
 'AE, Dubai',
 'FR, Courbevoie',
 'New Jersey, United States',
 'Oregon - Hillsboro',
 'Amsterdam, Netherlands',
 'Massachusetts - Boston',
 'San Jose, San José, Costa Rica',
 'UK, LEICS, Coalville',
 'IN, MH, Pune',
 'Feltham, LND, GB',
 'São Leopoldo, RS, BR',
 'Bielefeld, GER',
 'Warsaw, Poland',
 'Seoul, 11, KR',
 'Las Colinas, Texas, United States',
 'Budapest, BU, HU',
 'Tel Aviv, IsraelHod-HaSharon, Israel',
 'Melbourne VIC, Australia',
 'Washington - Remote',
 'Dalian, 21, CN',
 'Cork, IrelandIreland, Europe',
 'US, OH, Euclid',
 'St. Ingbert, BW, DE',
 'US, CO, Aurora',
 'Issy Les Moulineaux, Hauts-de-Seine, France',
 'Kuala Lumpur, 14, MY',
 'Las Vegas Area, NV',
 'Charlotte, North Carolina',
 'US, MA, Medford',
 'Waterloo, ON, Canada',
 'US, NJ, Burlington',
 'Georgia - Remote',
 'Atherstone, Warwickshire, United Kingdom',
 'Regensdorf, ZH, CH',
 'Stockholm, Sweden',
 'Cambridge, EnglandUnited Kingdom, Europe',
 'EG, Cairo',
 'PH, Pasay City',
 'Colorado - Denver',
 'Johannesburg, GT, ZA',
 'San Antonio, Texas, United States',
 'Detroit, Michigan',
 'Istanbul, Turkey',
 'Seoul, Seoul, Korea',
 'Virtuell - Deutschland, BW, DE, 69190',
 'HK, Causeway Bay',
 'Pittsburgh, PA, US, 15212',
 'Columbus Metropolitan Area, OH',
 'DÃ¼sseldorf,Ratingen, NW, DE',
 's-Hertogenbosch, NB, NL',
 'Dublin, D, IE',
 'Bogota, Colombia',
 'Massachusetts - Burlington',
 'Guangzhou, China',
 'Illinois - Remote',
 'Colorado - Remote',
 'TW, TP, Taipei',
 'San Ramon, CA, US',
 'Prague, Prague, Czech Republic',
 'Ann Arbor, MI, USA',
 'ES,',
 'Hebron, KY',
 'Newport Beach, CA, US',
 'Durham, NC, USA',
 'Delhi, India',
 'Riyadh, 01, SA',
 'South San Francisco, CA, US, 94080',
 'Wallisellen, Zürich, Switzerland',
 'Bangalore, KA, IN, 560066',
 'Hokkaido, Japan',
 'US, FL, Miami',
 'Vienna, VA, US',
 'Harrisburg, PA',
 'Haifa, Haifa, Israel',
 'US, CA, Culver City',
 'Raanana, M, IL',
 'Bellevue, WA, US, 98004',
 'CA, ON, Brampton',
 'Massachusetts - Remote',
 'US, FL, Orlando',
 'Moscow, Russia',
 'Maidenhead, ENG, GB',
 'Espoo, Other, Finland',
 'US, FL, Jacksonville',
 'PH, Manila',
 'Johannesburg, Gauteng, South Africa',
 'Lisbon, Lisbon, Portugal',
 'Boleslawiec, Poland',
 'US, CA, Sacramento',
 'Poland, EuropeLodz (Łódź), Łódzkie',
 'St. Louis Park, MN, US',
 'New Zealand, New Zealand',
 'Hertfordshire (Hemel Hempstead), EnglandUnited Kingdom, Europe',
 'Florida - Remote',
 'US, OH, North Randall',
 'Dortmund, Germany',
 'US, OK, Oklahoma City',
 'CA, ON,',
 'US, IL, Rockford',
 'Wroclaw, PolandPoland, Europe',
 'Sofia, 22, BG',
 'Copenhagen, 84, DK',
 'Chengdu, China',
 'Mexico City, MEX, MX',
 'JO, Amman',
 'United Kingdom - Staines',
 'Wuxi, Jiangsu, China',
 'Tempe, AZ, US',
 'US, VA, Culpeper',
 'Argentina - Buenos Aires',
 'Eschborn, HE, DE, 65760',
 'Oslo, Norway',
 'Council Bluffs, IA, USA',
 'Raleigh, NC, USA',
 'US, IL, Edwardsville',
 'SK,',
 'UK, West Thurrock',
 'Herndon, VA, US, 20171',
 'Santiago, Santiago, Chile',
 'Brussels, BRU, BE',
 'Vancouver, BC, CA, V6B 1A9',
 'Madison, WI',
 'US, IL, Monee',
 'Belgrade, Srem, Serbia',
 'Chattanooga Area, TN',
 'Vercelli, Italy',
 'Gdansk, PolandPoland, Europe',
 'CA, AB, Calgary',
 'Thornton, CO, USA',
 'Jakarta, JK, ID',
 'Changhua County, Taiwan',
 'US, CA, Rialto',
 'Hong Kong, HK, HK',
 'USA, AZ, Phoenix',
 'Fargo, North Dakota, United States',
 'RO, Iaşi',
 'Istanbul, 34, TR',
 'US, MI, Romulus',
 'US, WA, Kent',
 'Lisboa, 11, PT',
 'Houston, TX, US, 77098',
 'Dresden, SN, DE',
 'California - Irvine',
 'North Carolina - Remote',
 'US, PA, Hazleton Township',
 'Eden Prairie, MN, US',
 'US, IL, Elgin',
 'Gliwice, SL, PL',
 'Palo Alto, CA, US, 94304',
 'Reno Area, Nevada',
 'Doncaster, England',
 'Louisville, Kentucky area',
 'US, NY, Staten Island',
 'Kista, Stockholm, Sweden',
 'Sittingbourne, KEN, GB',
 'California - Los Angeles',
 'Lithia Springs, GA, USA',
 'Brieselang, GermanyGermany, Europe',
 'Boves, France',
 'Boydton, Virginia, United States',
 'Frankenthal, Germany',
 'Lehigh Valley , Hazleton Area, PA',
 'Connecticut - Remote',
 'Moscow, MOS, RU',
 'New Jersey - Remote',
 'DE, HH, Winsen',
 'US, CA, Eastvale',
 'Arizona - Remote',
 'US, OH, Etna',
 'Pforzheim, GermanyGermany, Europe',
 'Kuala Lumpur, Selangor, Malaysia',
 'Other, Other, India',
 'New Castle , Middletown, DE',
 'San Luis Obispo, California',
 'Lima, Lima, Peru',
 'Lexington, Winchester, KY',
 'RO,',
 'Saint-Ghislain, Belgium',
 'US, WA, Everett',
 "Xi 'an, 61, CN",
 'Dallas, TX, US',
 'Brno, 622, CZ',
 'US, IN, Greenwood',
 'US, SC, West Columbia',
 'Lagos, Nigeria',
 'US, PA, Norristown',
 'JP, Fukuoka',
 'Puyan Township, Changhua County, Taiwan 516',
 'Minnesota - Remote',
 'US, CA, Newark',
 'US, OH, Twinsburg',
 'Ohio - Remote',
 'Michigan - Remote',
 'JP, Ota-ku',
 'US, OR, Troutdale',
 'Karlsruhe, BW, DE',
 'Lauwin-Planque, FranceFrance, Europe',
 'IND, UP, Noida',
 'DE,',
 'Rio de Janeiro, RJ, BR',
 'Indiana - Remote',
 'Mönchengladbach, Germany',
 'US, IL, Joliet',
 'US, NV, North Las Vegas',
 'US, NJ, Edison',
 'Tampa Area, Florida',
 'Victoria, Canada',
 'US, KS, Edgerton',
 'DE, NW, Werne a.d.Lippe',
 'Buenos Aires, B, AR, 1605',
 'US, FL, Opa-Locka',
 'Osaka, Japan',
 'US, PA, Easton',
 'US, CA, Fresno',
 'US, MS, Byhalia',
 'UK, DEVON, Exeter',
 'US, TN, Memphis',
 'US, CA, Glendale',
 'Brazil - Sao Paulo',
 'Cheyenne, Wyoming, United States',
 'CN, Weifang',
 'Makati City, Metro Manila, Philippines',
 'Moncks Corner, SC 29461, USA',
 'Kuala Lumpur, Federal Territory of Kuala Lumpur, Malaysia',
 'Maryland - Remote',
 'New Taipei, Banqiao District, New Taipei City, Taiwan',
 'US, WI, Kenosha',
 'Schiphol, Noord-Holland, Netherlands',
 'Espoo, ES, FI',
 'US, CO, Loveland',
 'The Netherlands, The NetherlandsThe Hague, Netherlands',
 'Rome, Italy',
 'Pennsylvania - Remote',
 'US, Umatilla',
 'JP, Ichikawa',
 'IND, TS',
 'Wisconsin - Remote',
 'US, KS, Kansas City',
 'Koblenz, GermanyGermany, Europe',
 'France, Europe',
 'Athens, A1, GR',
 'US, VA,',
 'US, OR, Salem',
 'Colorado - Louisville',
 'Ireland, Europe',
 'US, TX, San Marcos',
 'Sofia, 23, BG',
 'Texas - Irving',
 'IND, RJ, Jaipur',
 'Australia - Barton',
 'Santa Cruz, California',
 'Santa Barbara, CA, USA',
 'US, OH, Cincinnati',
 'New Hampshire - Remote',
 'Nairobi, Kenya',
 'Illinois - Naperville',
 'Fort Lauderdale, Florida, United States',
 'US, VA, Richmond',
 'US, NH, Hooksett',
 'The Dalles, OR 97058, USA',
 'US, FL, Tampa',
 'US, MA, Holyoke',
 'Bangkok, 10, TH',
 'Rheinberg, GermanyGermany, Europe',
 'Kyiv, Kyiv City, Ukraine',
 'Taoyuan, Taoyuan District, Taoyuan City, Taiwan',
 'Bangkok, Thailand',
 'Auckland, New Zealand',
 'Galway, G, IE',
 'Chicago, IL, US, 60606',
 'Aachen, Germany',
 'US, GA, Braselton',
 {'location': '\n\t\t\t\t\t\t\t\t\t'},
 'Other, Other, Mexico',
 'CA, ON, Ottawa',
 'US, MD, Hanover',
 'Chesterfield, United Kingdom',
 'South Carolina - Remote',
 'Virtual Locations, Virtual LocationGrand Haven, MI',
 'Dunstable, EnglandUnited Kingdom, Europe',
 'St. Louis, Missouri, United States',
 'US, CT, Windsor',
 'Downers Grove, IL, US',
 'Markdorf, BW, DE, 88677',
 'Helsinki, Finland',
 'US, NJ, West Deptford',
 'US, VA, Springfield',
 'Georgia - Alpharetta',
 'US, FL, Sunrise',
 'Schoenefeld, BE, DE',
 'USA, OH, Columbus',
 'Tilbury, England',
 'FR, Lyon',
 'ZAF',
 'Nairobi, Nairobi City, Kenya',
 'US, MI, Hazelpark',
 'London, LND, GB, SE1 8NW',
 'Buenos Aires, Buenos Aires, Argentina',
 'IN, MH, Thane',
 'Markdorf, BW, DE',
 'Addison, TX, USA',
 'Switzerland - Morges',
 'US, NC, Concord',
 'US, MA, Natick',
 'US, CA, Fontana',
 'New Delhi, Delhi, India',
 'US, NH, Manchester',
 'US, NJ, Teterboro',
 'US, MD, Sparrows Point',
 'US, NJ, Cranbury',
 'USA, TX, Fort Worth',
 'US, IL, Skokie',
 'CA, BC, Burnaby',
 'AU, VIC, Dandenong South',
 'Leeds, England',
 'AU, NSW, Moorebank',
 'US, IL, Mundelein',
 'CN,',
 'USA, MO, Kansas City',
 'US, OH, Lockbourne',
 'US, CA, Buena Park',
 'FRA, Bretigny sur Orge',
 'Al-Khobar, 01, SA',
 'Lysaker, 02, NO',
 'Australian Capital Territory - Remote',
 'UK, Swindon',
 'Bristol, England',
 'USA, IN, South Bend',
 'Midlothian, TX, USA',
 'Zaventem, Flemish Brabant, Belgium',
 'Utah - Remote',
 'US, NY, Rochester',
 'US, CO, Lone Tree',
 'Freehold, New Jersey, United States',
 'US, ID, Boise',
 'Miyagi, Japan',
 'US, TX, Frisco',
 'California - San Mateo',
 'United Kingdom - England - Remote',
 'US, LA, Baton Rouge',
 'US, MO, Saint Louis',
 'IND, PB',
 'New Jersey - Short Hills',
 'Mougins, 06, FR',
 'Heidelberg, GER',
 'Hamina, Finland',
 'Lenoir, NC, USA',
 'IND, MP',
 'US, GA, Macon',
 'Washington - Spokane',
 'US, Boardman',
 'US, MN, Shakopee',
 'US, AL, Theodore',
 'US, AZ, Scottsdale',
 'Taegerwilen, TG, CH',
 'US, PA, Pittston',
 'Bucharest, B, RO',
 'AU,',
 'Aarhus, Denmark',
 'Athens, Greece',
 'Clarksville, TN, USA',
 '7000 Fredericia, Denmark',
 'Greenwood Village, CO, US',
 'Fall River, Massachusetts',
 'MY, Kuala Lumpur',
 'Brisbane, QLD, AU',
 'France, EuropeSaran, France',
 'US, IL, Morton Grove',
 'US, PA, Philadelphia',
 'Sosnowiec, Poland',
 'Poznan, PolandPoland, Europe',
 'Rugeley, England',
 'US, WI, Sussex',
 'USA, NJ, Avenel',
 'Other, Other, Canada',
 'Other, Other, Brazil',
 'US, CA, Vacaville',
 'Tel Aviv, M, IL',
 'US, VA, Chesapeake',
 'MA, Rabat',
 'Almaty, Almaty [City], Kazakhstan',
 'Tallinn, Harjumaa, Estonia',
 'USA, CA, San Diego',
 'Potsdam, BB, DE, 14469',
 'USA, NJ, Carteret',
 'PH, Cebu',
 'Accra, Ghana',
 'USA, WI, Kenosha',
 'US, RI, Providence',
 'Quincy, Washington, United States',
 'US, WI, Milwaukee',
 'US, IL, Aurora',
 'London, LND, GB, SE1 0UN',
 'UK, Avonmouth',
 'US, LA, New Orleans',
 'Lodz (Łódź), Łódzkie',
 'CN, Hangzhou City',
 'IT, PD, Veneto',
 'Walldorf, BW, GER',
 'Birmingham, AL, US',
 'White Plains, New York, United States',
 'JP, Kawasaki Shi',
 'US, FL, Davenport',
 'Campbellsville, KY',
 'CA, ON, Bolton',
 'Allen, TX, US',
 'US, TN, Lebanon',
 'Castel San Giovanni, ItalyItaly, Europe',
 'Edmonton, Alberta, Canada',
 'Cagliari, Italy',
 'UK, Newcastle',
 'USA, NY, Munsey Park',
 'US, CA, Berkeley',
 'POL, Okmiany',
 'Rhode Island - Remote',
 'UK, Preston',
 'CN, Xiamen',
 'AR, BA, Buenos Aires',
 'US, TX, Haslet',
 'FR, Lille',
 'Vermont - Remote',
 'Maine - Remote',
 'UK, Swansea',
 'JP, Ibaraki',
 'New York, NY, US, 10001',
 'Missouri - Remote',
 'USA, OK, Tulsa',
 'USA, KY, Shepherdsville',
 'San Diego, CA, USA',
 'USA, NC, Durham',
 'USA, MO, St. Peters',
 'Tianjin, China',
 'Canoga Park, California, United States',
 'US, MA, Everett',
 'Regensburg, GermanyGermany, Europe',
 'Peterborough, EnglandUnited Kingdom, Europe',
 'Germany - Cologne',
 'Hallbergmoos, BY, DE',
 'USA, IN, West Lafayette',
 'Bad Hersfeld, GermanyGermany, Europe',
 'CZ,',
 'CA, BC, Tsawwassen First Nation',
 'US, IL, Romeoville',
 'US, CO, Colorado Springs',
 'US, CT, Wallingford',
 'US, GA, Union City',
 'Ontario - Remote',
 'Reston, VA, US, 20191',
 'US, ID, Meridian',
 'AT, Graz',
 'USA, GA, Rincon',
 'Florida - Deerfield Beach',
 'USA, MA, Bedford',
 'Wunstorf, Germany',
 'Johannesburg (MEA-HQ), Gauteng, South Africa',
 'UK, STAFFS, Stoke',
 'Pryor, OK 74361, USA',
 'US, MI, Livonia',
 'Casablanca, 08, MA',
 'US, OH, Kettering',
 'Reno, Nevada, United States',
 'USA, NJ, Burlington',
 'US, OH, Wilmington',
 'São Leopoldo, RS, BR, 93022-718',
 'US, MA, Somerville',
 'US, OR, Virtual Location - Oregon',
 'FR, Strasbourg',
 'MX, EMEX, Tepotzotlan',
 'Bremen, Germany',
 'US, KY, Erlanger',
 'US, WA, Kennewick',
 'Doha, DA, QA',
 'Atlanta, GA, US, 30326',
 'US, GA, East Point',
 'DE, Krefeld',
 'US, MI, Shelby Charter Township',
 'US, TN, Murfreesboro',
 'USA, GA, Jefferson',
 'Budapest, Budapest, Hungary',
 'USA, WA, Renton',
 'US, PA, King of Prussia',
 'US, TX, Bryan',
 'DE, Dormagen',
 'US, MO, Hazelwood',
 'Louisiana - Remote',
 'Plano, TX, US',
 'Gurgaon, DL, IN',
 'Other, Other, Qatar',
 'Riga, Riga, Latvia',
 'DE, BY, Eggolsheim',
 'Dublin, CA, US',
 'Leipzig, GermanyGermany, Europe',
 'IN, TN, Coimbatore',
 'New Albany, OH, USA',
 'Downers Grove, PA, US',
 'Naperville, IL, US, 60563',
 'US, NJ, Swedesboro',
 'Sevrey, FranceFrance, Europe',
 'US, MD, North East',
 'FR, Bonneuil sur Marne',
 'Bridgeport, AL, USA',
 'USA, NJ, Robbinsville',
 'US, PA, Sewickley',
 'Kunshan, China',
 'US, OH, North Jackson',
 'Sydney, ACT, AU',
 'PL, Krakow',
 'Kuwait City, KU, KW',
 'FR, Survilliers',
 'CA, MB, Winnipeg',
 'Coventry, United Kingdom',
 'US, IL, Waukegan',
 'USA, CA, San Bernardino',
 'US, TX, Wilmer',
 'Sofia, Sofia City, Bulgaria',
 'US, FL, Daytona Beach',
 'US, MD, Towson',
 'USA, CT, North Haven',
 'CAN, ON, Mississauga',
 'Minsk, Minsk, Belarus',
 'Las Vegas, Nevada, United States',
 'Colombo, Western, Sri Lanka',
 'US, AL, Birmingham',
 'IN, TN, Tiruvallur',
 'Waterloo, CA 95215, USA',
 'PL, Gdynia',
 'USA, WI, Milwaukee',
 'Canberra, ACT, AU',
 'BR, SP, Cajamar',
 'Tübingen, Germany',
 'MX, EMEX, Cuautitlan Izcalli',
 'Doha, Ad Dawḩah, Qatar',
 'Saint-Petersburg, MOW, RU',
 'USA, WI, Madison',
 'US, CT, Hartford',
 'ES, Malaga',
 'Saga, Japan',
 'Vancouver, BC, CA, V5J 1A1',
 'FR, Ormes',
 'USA, IL, Champaign',
 'USA, FL, Fort Pierce',
 'Santo Domingo, Santo Domingo, Dominican Republic',
 'Regensdorf, ZH, CH, 8105',
 'Eschborn, HE, DE',
 'USA, NJ, Elizabeth',
 'UK, Haydock',
 'US, IL, Elk Grove Village',
 'US, NJ, Bellmawr',
 'TH, Bangkok',
 'US, NM, Albuquerque',
 'CA, ON, Etobicoke',
 'US, MA, Milford',
 'US, CO, Fort Collins',
 'Argentina - Pilar',
 'Global, BA, LB',
 'UK, Park Royal',
 'Iowa - Remote',
 'DE, HE, Raunheim',
 'US, SC, Greenville',
 'Abu Dhabi, AZ, AE',
 'USA, NJ, Madison',
 'US, IN, Gary',
 'Dallas, TX, US, 75001',
 'Metaire, Louisiana, United States',
 'Mountain View, OK 73062, USA',
 'Sarasota, Florida, United States',
 'Rockville, MD, US, 20852',
 'Nanjing, 32, CN',
 'US, MA, Lynnfield',
 'USA, FL, Gainesville',
 'GBR, Birmingham',
 'IT,',
 'USA, OH, Monroe',
 'Malvern, Pennsylvania, United States',
 'New Albany, MS 38652, USA',
 'USA, TX, Lubbock',
 'USA, SC, Spartanburg',
 'ES, Getafe',
 'Honolulu, Hawaii, United States',
 'JP, Saitama',
 'Bloomington, Minnesota, United States',
 'FR, Woippy',
 'USA, CA, Tracy',
 'USA, NY, Bethpage',
 'ESP, Alicante',
 'Tysons Corner, Virginia, United States',
 'US, CA, Modesto',
 'Alpharetta, GA, US, 30004',
 'Charleston, SC',
 'CA, BC, New Westminster',
 'US, PA, Allentown',
 'FR, Toulouse',
 'Erfurt, Germany',
 'Ho Chi Minh, 65, VN',
 'Paramus, New Jersey, United States',
 'USA, SC, Greenville',
 'US, TX, Brookshire',
 'US, IL, Oakbrook',
 'VN, Ho Chi Minh City',
 'IT, NA, Arzano',
 'US, NY, Lancaster',
 'Dunfermline, ScotlandUnited Kingdom, Europe',
 'Torrazza Piemonte, Italy',
 'UK, GT LON, Croydon',
 'US, NH, Nashua',
 'Brasilia, Distrito Federal, Brazil',
 'France - Remote',
 'COL',
 'USA, NY, Lake Grove',
 'Ljubljana, 061, SI',
 'Germany - Jena',
 'US, NY, Woodside',
 'IN, MH, Bhiwandi, Thane',
 'FR, Marseille',
 'US, FL, Fort Myers',
 'Timisoara, Timis, Romania',
 'USA, OH, Akron',
 'USA, TX, Garland',
 'JP, Soja Shi',
 'San Ramon, CA, US, 94583',
 'Kentucky - Remote',
 'Germany - Stuttgart - Remote',
 'US, CA, Commerce',
 'USA, FL, St Petersburg',
 'USA, VA, Sterling',
 'Belfast, BFS, GB',
 'IN, MH, Nagpur',
 'IND, MH',
 'ES, Martorelles',
 'US, SC, Hanahan',
 'US, GA, Smyrna',
 'GBR, Glasgow',
 'Austell, GA, USA',
 'US, MN, Maple Grove',
 'US, GA, Jefferson',
 'UK, DORSET, Hum, Christchurch',
 'Boca Raton, Florida, United States',
 'Zagreb, Croatia',
 'Australia - Queensland - Remote',
 'CA, QC, Varennes',
 'USA, CT, Fairfield',
 'Cheltenham, Gloucestershire, United Kingdom',
 'Iselin, New Jersey, United States',
 'Berlin, BE, DE, 10178',
 'USA, CA, Sacramento',
 'US, TX, Farmers Branch',
 'Garden City, New York, United States',
 'Santa Clara, California, United States',
 'US, VT,',
 'Nairobi, 110, KE',
 'Houston, TX, US, 77001',
 'US, MN, Eagan',
 'Lima, LIM, PE',
 'Sydney, VIC, AU',
 'Illescas, Spain',
 'Lincoln Plaza, Washington, United States',
 'Kanagawa, Japan',
 'CAN, ON, Brampton',
 'IN, GJ, Ahmedabad',
 'POL, Pabianice',
 'UK, Berry Hill Industrial Estate',
 'DE, BE, Hoppegarten',
 'UK, Dundee',
 'USA, NJ, Moonachie',
 'USA, CA, Moreno Valley',
 'JP, Nishinomiya',
 'US, CA, Marina Del Rey',
 'DE, Kempen',
 'Dubai, 11, TN',
 'Other, Other, Morocco',
 'US, VA, Clear Brook',
 'IND, TN',
 'Aventura, Florida, United States',
 'US, MD, Fulton',
 'US, NE, Omaha',
 'SK, Sered',
 'USA, VA, Chester',
 'USA, PA, Elizabethtown',
 'TH, Watthana',
 'Southern California Region, CaliforniaManhattan Beach, CA, California',
 'ID,',
 'GBR, Liverpool',
 'US, CA, Richmond',

In [ ]:
df = pd.DataFrame(list(
mycol.aggregate([
{'$match': {"location": {"$exists": True}}},
{'$project':{"raw_information.location":1}},
{'$unwind':"$raw_information.location"},
{'$project':{"location":"$raw_information.location","length": { "$strLenCP": "$raw_information.location" } }},
{'$match': { 'length': {'$gt':1} } },
{'$group': {
        '_id': {'location': "$location"},
        'uniqueIds': {'$addToSet': "$_id"},
        'count': {'$sum': 1}
        }
    },
    {'$match': { 
        'count': {"$gt": 1}
        }
    },
    {'$sort': {
        'count': -1
        }
    },
    {'$project':{"_id":1}},
])))

In [76]:
df.head()

                                                 _id
0  {'location': '
      Mountain View, CA, USA
 ...
1    {'location': '
      Sunnyvale, CA, USA
    '}
2                {'location': 'Seattle, Washington'}
3  {'location': '
      San Francisco, CA, USA
 ...
4       {'location': '
      Munich, Germany
    '}