In [2]:
from pymongo import MongoClient
import pandas as pd

In [3]:
client = MongoClient('mongodb://root:example@localhost:27017/')

In [4]:
mydb =client['shape-competitor-activity-radar']

In [5]:
mycol = mydb["job_descriptions"]

In [6]:
res = mycol.find({'location':{'$exists':False}},{'raw_information.location':True})

In [7]:
df = pd.DataFrame(list(
mycol.aggregate([
{'$match': {"raw_information.location":{'$exists':True},"location": {"$exists": False}}},
{'$project':{"raw_information.location":1}},
{'$unwind':"$raw_information.location"},
{'$project':{"location":"$raw_information.location","length": { "$strLenCP": "$raw_information.location" } }},
{'$match': { 'length': {'$gt':1} } },
{'$group': {
        '_id': {'location': "$location"},
        'uniqueIds': {'$addToSet': "$_id"},
        'count': {'$sum': 1}
        }
    },
    {'$match': { 
        'count': {"$gt": 1}
        }
    },
    {'$sort': {
        'count': -1
        }
    },
    {'$project':{"_id":1}},
])))

In [8]:
df.head(4)

                                                 _id
0    {'location': '
      Sunnyvale, CA, USA
    '}
1  {'location': '
      Mountain View, CA, USA
 ...
2  {'location': '
      San Francisco, CA, USA
 ...
3    {'location': '
      San Bruno, CA, USA
    '}

In [9]:
import requests 
import xml.etree.ElementTree as ET

apikey="AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t"
import urllib.parse

for index, row in df.iterrows():
    place = row[0]['location'].rstrip().lstrip().replace('/',',')
    URL = "https://dev.virtualearth.net/REST/v1/Locations/{}?o=xml&key={}".format(urllib.parse.quote(place),apikey)
    
    try:
        response = requests.get(url =URL)
        root = ET.fromstring(response.content)
        rs=root.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}ResourceSets')[0]
        point = rs.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Resources')[0].find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Point')
        Latitude=point.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Latitude').text
        Longitude=point.find('{http://schemas.microsoft.com/search/local/ws/rest/v1}Longitude').text
        df.loc[index,'Longitude']=Longitude
        df.loc[index,'Latitude']=Longitude
    except:
        print(URL)
        print("error with " + place)

https://dev.virtualearth.net/REST/v1/Locations/?o=xml&key=AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t
error with
https://dev.virtualearth.net/REST/v1/Locations/USA%2C%20CO%2C%20Denver?o=xml&key=AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t
error with USA, CO, Denver
https://dev.virtualearth.net/REST/v1/Locations/DE%2C%20Cologne?o=xml&key=AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t
error with DE, Cologne
https://dev.virtualearth.net/REST/v1/Locations/IN%2C%20HR%2C%20Village%3A%20Jamalpur%2C%20Dist%3A%20Gurga?o=xml&key=AlaPRmBlEzIailJpk6eGIDUKJCTKc5LoAb9t9hZwPGY1_42e_NzZ_riPVSWbi32t
error with IN, HR, Village: Jamalpur, Dist: Gurga

In [10]:
df.head(5)

,_id,Longitude,Latitude
0,"{'location': ' Sunnyvale, CA, USA '}",-122.03800201416016,-122.03800201416016
1,"{'location': ' Mountain View, CA, USA ...",-122.08159637451172,-122.08159637451172
2,"{'location': ' San Francisco, CA, USA ...",-122.41963958740234,-122.41963958740234
3,"{'location': ' San Bruno, CA, USA '}",-122.41413879394531,-122.41413879394531
4,"{'location': 'Seattle, Washington'}",-122.32945251464844,-122.32945251464844